# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# backup files
~*
*.swp
*~

# temporary files
aho*
.DS_Store
Icon?
.ipynb_checkpoints/
*/.ipynb_checkpoints/

# data/figure/output directory
data/
figure/
output/
output*/
input/
input*/
*/data/
*/output/
*/figure/
*/input/
*/input*/
data_*/


# data files
*.dat
*.npz
*.out
*.pdf
*.png
*.csv
*.txt

# Exclude
!Limit/limit_data/
!Limit/limit_data/*
