# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# backup files
~*
*.swp
*~

# temporary files
aho*
.DS_Store
.ipynb_checkpoints/
*/.ipynb_checkpoints/

# data/figure/output directory
data/
figure/
output/
Y-factor_USB/data/
Y-factor_USB/output/

# data files
*.dat
*.npz
*.out
*.pdf
*.png



